{% extends 'base.html' %}
{% load crispy_forms_tags %}
  {% comment %} {% block css %}

  {% endblock css %} {% endcomment %}
{% block main %}
<h4 class="text-center"> Add Item :</h1>
<div class='container' style="width: 50%">
<form method="post" enctype="multipart/form-data" style="background-color: rgb(54, 15, 85);">
    {% csrf_token %}
    {{ form.name|as_crispy_field }}
    {{ form.img|as_crispy_field }}
    {{ form.desc|as_crispy_field }}
    {{ form.price|as_crispy_field }}
    {{ form.type|as_crispy_field }}
    <input type="hidden" name="reg_agent" value="{{user.id}}">
    <input type="submit" value="Save" class="btn btn-sm btn-success mt-3"/>
</form>
</div>  
{% endblock main %} 